doctype html 
html(lang="ko")
  haad 
    title #{pageTitle} | #{siteName}  
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
      
  body  
    header 
      h1=pageTitle
      nav 
        ul 
          li   
            a(href="/") Home
          li 
            a(href="/videos/upload") Upload 
          li 
            a(href="/search") Search
          
          //- 로그인했을때 nav bar 다르게 설정
          if loggedIn
            li 
            a(href="/logout") Log out  
          else
            li 
              a(href="/join") Join
            li 
              a(href="/login") Log In

    main 
      block content 

  
  include partials/footer