extends base


block content
  div   
    p=video.description
    small=video.createdAt 
  //- 제일앞에 /가있으면 절대경로임 경로 지정시 주의
  //- a(href="/video/edit")--->localhost:4000/video/edit
  //- a(href="video/edit")--->localhost:4000/videos/video/edit
  a(href=`${video.id}/edit`) Edit Video &rarr;

